@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 20px;
  font-family: "Ysabeau SC", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #191970, #000000);
  /* height: 100vh; */
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

svg {
  width: 48px;
}

.card {
  @apply mx-auto w-[90%] bg-gray-300 rounded-lg shadow-xl;
}
